<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
  <head>
    <title>{% block title %}{{ headers.title }}{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta property="og:image" content="http://www.apache.org/images/asf_logo.gif" />
<!--
    <link rel="stylesheet" type="text/css" media="screen" href="http://www.apache.org/css/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="http://www.apache.org/css/code.css">
-->
    <link href="/css/xmlgraphics.css" rel="stylesheet" type="text/css">

    </style>

    {% if headers.atom %}
      <link rel="alternate" href="{{ headers.atom.url }}"
            type="application/atom+xml" title="{{ headers.atom.title }}" />
    {% endif %}

    {% if headers.base %}<base href="{{ headers.base }}" />{% endif %}
    {% if headers.notice %}<!-- {{ headers.notice }} -->{% endif %}
  </head>

  <body>
	  <div id="banner">&nbsp;
	  </div>

	  <div id="navigation">
	  {% filter markdown %}{% include "sidenav.mdtext" %}{% endfilter %}
	  </div>
	
	  <div id="bannertext">
        <a href="/"><img src="/images/apache-xml-graphics.gif" alt="The Apache XML Graphics Project" width="220" heigh="51" /></a>
        <h1>The Apache XML Graphics Project</h1>
        <h2>{% block tagline %}{{ headers.title }}{% endblock %}</h2>
      </div>
        <p>{{ breadcrumbs|safe }}</p>
        <form name="search" id="search" action="http://www.google.com/search" method="get">
          <input value="*.apache.org" name="sitesearch" type="hidden"/>
          <input type="text" name="q" id="query">
          <input type="submit" id="submit" value="Search">
        </form>
      </div>
      <div class="clear"></div>
      {% block content %}<div id="content" class="grid_16"><div class="section-content">{{ content|markdown }}</div></div>{% endblock %}
      <div class="clear"></div>

	  <div id="footer">
		<a alt="Apache Software Foundation" href="http://www.apache.org">
		  <img id="asf-logo" alt="Apache Software Foundation" src="/images/feather-small.gif"/ width="100">
		</a>
		<div class="copyright">
		  <p>
			Copyright &copy; 2011 The Apache Software Foundation, Licensed under
			the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>.
			<br />
			Apache, Apache XML Graphics, the Apache feather logo, and the Apache XML Graphics logos are
			trademarks of <a href="http://www.apache.org">The Apache Software Foundation</a>. All other
			marks mentioned may be trademarks or registered trademarks of their respective owners.
			<br />
		  </p>
		</div> 
	  </div>
  </body>
</html>
