<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
  <head>
    <title>{% block title %}{{ headers.title }}{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta property="og:image" content="http://www.apache.org/images/asf_logo.gif" />
<!--
    <link rel="stylesheet" type="text/css" media="screen" href="http://www.apache.org/css/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="http://www.apache.org/css/code.css">
-->
    <link href="/css/profile.css" rel="stylesheet" type="text/css">
    <link href="/css/xmlgraphics.css" rel="stylesheet" type="text/css">

    <style type="text/css">
    
    </style>
    <script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('ul#navigation a').each(function() {
		    if (this.href === window.location.href)
			    { $(this). attr('id', 'forefront');} 
        });
        $('ul#navigation a#forefront').each(function() {
        	
        });
    })
    </script>

    {% if headers.atom %}
      <link rel="alternate" href="{{ headers.atom.url }}"
            type="application/atom+xml" title="{{ headers.atom.title }}" />
    {% endif %}

    {% if headers.base %}<base href="{{ headers.base }}" />{% endif %}
    {% if headers.notice %}<!-- {{ headers.notice }} -->{% endif %}
  </head>

  <body>
	  <div id="banner">&nbsp;
	  </div>

	  <div id="navigation">
	  {% filter markdown %}{% include "sidenav.mdtext" %}{% endfilter %}
	  </div>
	
	  <div id="bannertext" style="border-bottom: 2px dashed #666666; height: 60px; width: 775px;">
        <a href="/"><img src="/images/apache-xml-graphics.gif" alt="The Apache XML Graphics Project" width="226" height="51" style="float:left; margin-right: 15px;" /></a>
        <h2>The Apache&trade; XML Graphics Project</h2>
      </div><!-- <h1>{% block tagline %}{{ headers.title }}{% endblock %}</h1> -->{% block content %}
      <div id="content" class="grid_16">
      	<!-- <div id="breadcrumb">{{ breadcrumbs|safe }}</div> -->
      	<div class="section-content">{{ content|markdown }}</div>
      </div>
      {% endblock %}
      <div class="clear"></div>

	  <div id="footer">
		<div class="copyright">
			<a title="Apache Software Foundation" href="http://www.apache.org"><img id="asf-feather-logo" alt="Apache Software Foundation" src="/images/feather-small.gif" width="100" align="left" hspace="10" /></a>
		  <p>
			Copyright &copy; 2011 The Apache Software Foundation, Licensed under
			the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>.
			<br />
			Apache, Apache XML Graphics, the Apache feather logo, and the Apache XML Graphics logos are
			trademarks of <a href="http://www.apache.org">The Apache Software Foundation</a>. All other
			marks mentioned may be trademarks or registered trademarks of their respective owners.
			<br />
		  </p>
		</div> 
	  </div>
  </body>
</html>
